<div class="login_title">感谢注册</div>
<div class="input_box">
  <div class="input_title">
    <img src="/src/assets/phone.png" alt="">
  </div>
  <div class="input_value">
    <input type="text" placeholder="请输入手机号码">
  </div>
</div>
<div class="input_box">
  <div class="input_title">
    <img src="/src/assets/save.png" alt="">
  </div>
  <div class="input_value">
    <input type="password" placeholder="请输入密码" (focus)="handlepwFocus(true)" (blur)="handlepwFocus(false)">
  </div>
</div>
<div class="button">注册</div>
<div class="handle_group">
  <div class="go_reg" (click)="gotoLogin()">去登录</div>
</div>
