<div class="login_box">
  <div class="login_info">
    <div class="logo_box">
      <div class="logo">
        <img src="{{logo}}" alt="">
        <!-- <div class="mouth"></div> -->
        <div class="eye left_e" [ngClass]="{'close': passwordfocus}"></div>
        <div class="eye right_e" [ngClass]="{'close': passwordfocus}"></div>
      </div>
    </div>
    <div class="info_detial">
      <app-login-box *ngIf="customroute=='login'" (handleRoute)="HandleCustomRoute($event)" (handleLogo)="HandleLogo($event)"></app-login-box>
      <app-register-box *ngIf="customroute=='register'" (handleRoute)="HandleCustomRoute($event)" (handleLogo)="HandleLogo($event)"></app-register-box>
    </div>
  </div>
</div>
