<div class="login_box">
  <div class="login_info">
    <div class="logo_box">
      <div class="logo">
        <img src="{{logo}}" alt="">
        <div class="mouth"></div>
      </div>
    </div>
    <div class="info_detial">

      <div class="login_title">欢迎回来</div>
      <div class="input_box">
        <div class="input_title">
          <img src="/src/assets/img/phone.png" alt="">
        </div>
        <div class="input_value">
          <input type="text" placeholder="请输入手机号码">
        </div>
      </div>
      <div class="input_box">
        <div class="input_title">
          <img src="/src/assets/img/save.png" alt="">
        </div>
        <div class="input_value">
          <input type="password" placeholder="请输入密码">
        </div>
      </div>
      <div class="button">登录</div>
      <div class="handle_group">
        <div class="go_reg">去注册</div>
      </div>
    </div>
  </div>
</div>
