<div class="total_day base_box">

  <div class="total_title_row">

    <div>
      <span class="title_value">今日流量总览</span> <span class="title_subhead">历史峰值60,000人次</span>
    </div>
    <div style="color:rgba(0, 0, 0, 0.4);font-size: 14px;text-decoration: underline;">
      查看AP设备状态
    </div>

  </div>
  <div class="total_content">
    <div class="outbox">
      <div class="base_data_box">
        <span>总人流量</span>
        <span>1000</span>
      </div>
      <div class="base_data_box">
        <span>目前在线量</span>
        <span>606</span>
      </div>
      <div class="base_data_box">
        <span>平均在线时长（分）</span>
        <span>60</span>
      </div>
      <div class="base_data_box">
        <span>今日峰值</span>
        <span>2050</span>
      </div>
      <div class="base_data_box">
        <span>新用户</span>
        <span>1000</span>
      </div>
      <div class="base_data_box">
        <span>老用户</span>
        <span>1050</span>
      </div>
    </div>

  </div>

</div>