/* You can add global styles to this file, and also import other style files */
/**
 * 清除ul ol的样式 
 */

ul,
ol,
ul li,
ol li {
  list-style: none !important;
}


/* 初始化 */

body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}


/**
  * 设置行高 
  */

a {
  text-decoration: none !important;
}

a:active {
  color: #fff;
}

// @font-face{
//     font-family: 'hyjh50';
//     src : url('./font/hyjh50j.ttf');
// }
// @font-face{
//     font-family: 'CadillacSerif-Regular';
//     src : url('./font/CadillacSerif-Regular.otf');
// }

/* body 样式*/
html,
body {
  font-family:"思源黑体 CN Regular", "微软雅黑", "Microsoft YaHei";
  margin: 0 auto;
  background: #f7f7f7;
  color: #333333 !important;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  &.modal-open {
    position: fixed;
    width: 100%;
  }
}
